
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* phones */
@media (max-width: 500px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* phones */
@media (max-width: 750px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.parcelidtitle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(255,255,255,.8);
  border-radius: 10px;
  margin: 40px auto;
}

.cardcontent {
  align-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f8a8c591;
  border-radius: 10px;
  margin: 20px;
}
 .cardcontent p {
    color: #000000;
    font-weight: 600;
    font-style: oblique;
    font-size: 18px;
 }

 .cardcontent h2 {
  color: #000000;
  font-weight: 600;
  font-style: oblique;
  font-size: 18px;
 }


